<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z711PVTXLX"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-Z711PVTXLX');
        </script>
    </head>
        <body>
            <div>
                <!-- bokeh embedding -->
                <script id="p4735">
                  (function() {
                    const xhr = new XMLHttpRequest()
                    xhr.responseType = 'blob';
                    xhr.open('GET', "http://52.45.183.122:5006/portal/autoload.js?bokeh-autoload-element=p4735&bokeh-app-path=/portal&bokeh-absolute-url=http://52.45.183.122:5006/portal", true);
                    xhr.onload = function (event) {
                      const script = document.createElement('script');
                      const src = URL.createObjectURL(event.target.response);
                      script.src = src;
                      document.body.appendChild(script);
                    };
                    xhr.send();
                  })();
                </script>
            </div>
        </body>
</html>
